html{
  font-family: 'Lato', sans-serif !important;
  background-color: #fff;
  color:#555;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

img{
    margin-left:120px;
    margin-bottom: 20px;
}
h2{
    font-family: 'Lato', sans-serif !important;
    padding-top:40px;
    color:#555;
    font-size: 200%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: black;
    content:" ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.nav{
  padding-top: 50px;
  float:right;
  list-style:none;
  padding-right: 20px;
  font-size: 20px;
}

.nav a:link,
.nav a:visited,
.project a:link,
.project a:visited
{
    margin-right:20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size:100%;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom 0.2s;
}

.nav a:hover,
.nav a:active,
{
    border-bottom: 2px solid #2c96d8;
    padding-bottom: 5px;        
}

.project a:hover,
.project a:active
{
  border-bottom: 2px solid white;
  padding-bottom: 5px;    
}

.main,.about-me,.project{
  background-size:cover;
  background-position: center; 
}

.main{
  height: 100vh;
  color: white;
  background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.7)),url(background.png);
}

.open,.about,.prob{
  font-family: 'Lato', sans-serif;
  margin-left: 90px;
}

.open{
  padding-top:20%;
  font-size: 75px;
}

.about,.prob{
  padding-left: 10px;
  font-size: 25px;
}

.long-copy{
  margin-left: 40px;
  padding-bottom: 20px;
}

.project{
  color: white;
  background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.7)),url(backgroundP.png);
}
.project p{
  margin-bottom: 50px;
}
.project h2{
  padding-top:50px;
  color: white;
}
.project h2:after{
    display: block;
    height: 2px;
    background-color: white;
    content:" ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

footer{
  background-color: black;
}
footer p{
  float:right;
  padding-right: 40px;
  color: white;
}


